
@media screen and (max-width: 920px) {

  .navContainer .appName {
    padding: 4px 0 0 1vw;
    
    img {
      height: 8vh;
      width: 22vw;
    }

    .navLinks {
      font-size: 15px;
      font-weight: bold;
      padding: 1rem 4vw;

      .addMedia {
        font-size: 20px;
      }
    }
  }

  .mediasContainer .mediaList {
    grid-gap: 1vh;
    grid-template-columns: 1fr 1fr;

    .mediaItem {
      margin-bottom: 1vh;
      width: 45vw;
      border-radius: 6px;

      .mediaImg {
        width: 45vw;
        height: 25vw;
        border-radius: 10px 10px 0 0;
      }
    }

  }

}

@media screen and (max-width: 860px) {
  .footer{
    margin-top: 15vh;
    padding-inline: 2vw;
    font-size: 10px;
    
    a img {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 680px) {

  .navContainer .appName {
    padding: 4px 0 0 1vw;
    
    img {
      height: 8vh;
      width: 28vw;
    }

    .navLinks {
      font-size: 15px;
      font-weight: bold;
      padding: 1rem 4vw;

      .addMedia {
        font-size: 20px;
      }
    }
  }

  .mediasContainer .mediaList .mediaItem {
    margin-bottom: 0.6vh;
    border-radius: 6px;

    .mediaTitle {
      padding-inline-start: 15px;
      font-size: 20px;
    }

    .mediaOptions {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      font-size: 10px;

      .mediaContent {
        font-size: 10px;
        font-size: 18px;
        color: lightblue;
        margin: 5px 0 !important;
      }

      img{
        background-color: lightblue;
        // margin-top: 1vh;
        border-radius: 5px;
        padding: 0 0.5vh;

        &:hover {
          background-color: #a50000;
          transition: 0.2s ease;
          cursor: pointer;
        }
      }

    }
    
  }

}

@media screen and (max-width: 590px) {
  .footer{
    margin-top: 10vh;
    padding-inline: 2vw;
    font-size: 10px;
    flex-direction: column;
    text-align: center;
  }

  .navContainer .appName {
    padding: 4px 0 0 1vw;
    
    img {
      height: 8vh;
      width: 30vw;
    }

    .navLinks {
      font-size: 15px;
      font-weight: bold;
      padding: 1rem 4vw;

      .addMedia {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 530px) {

  .navContainer .appName {
    padding: 4px 0 0 0;
    
    img {
      height: 8vh;
      width: 40vw;
    }
  }

  .mediasContainer .mediaList {
    grid-template-columns: 1fr;

    .mediaItem {
      width: 91vw;

      .mediaImg {
        width: 91vw;
        height: 40vw;
        border-radius: 10px 10px 0 0;
      }

      .mediaTitle {
        padding-inline-start: 20px;
        font-size: 25px;
      }
    
      .mediaOptions {
        padding: 20px;
      }
    }
    
  }

}
